<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
</head>

<body>
<!--내비게이션 바 만들기 start-->
<nav th:fragment="navbarFragment"
     class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

  <div class="container-fluid">

    <a class="navbar-brand" href="/">SBB</a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- 로그인 -->
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" th:href="@{/user/login}">로그인</a>
        </li>

        <!-- 로그아웃 -->
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form th:action="@{/user/logout}" method="post">
            <button class="nav-link btn btn-link" type="submit">로그아웃</button>
          </form>
        </li>

        <!-- 회원가입 -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
        </li>

      </ul>

    </div>

  </div>

</nav>

</body>
</html>